* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}
body {
  height: 100%;
  background: linear-gradient(to right, #201d2e 50%, #f6f6f6 50%) fixed;
}
.container {
  width: 90vmin;
  background-color: #ffffff;
  padding: 20px 40px 50px 40px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 5px;
  box-shadow: 0 20px 35px rgba(60, 60, 60, 0.2);
}
.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
input {
  width: 80%;
  padding: 10px 5px;
  border-radius: 3px;
  border: 1px solid #201d2e;
  margin: auto;
}
.container p {
  line-height: 35px;
  text-align: justify;
  margin-top: 30px;
}
mark {
  background-color: #ffdd4b;
}

#heading {
  text-align: center;
  margin: 0px 0px 15px 0px;
}
